@import "../../../public/scss/base/variables";
@import "../../../public/scss/base/baseline";
@import "../../../public/scss/base/utility-classes";

.slideshow {
  height: 400px;
  width: 100%;
  position: relative;

  @include atMedium {
    height: 600px;
  }

  div {
    outline: none;
  }

  &__interior {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
    height: 100%;

    @include atMedium {
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }

  &__slide {
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__overlay {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.68);
    padding: 40px;
    color: #fff;

    @include atMedium {
      width: 50%;
    }
  }
}