<!-- wp:diesel/header /-->

<!-- wp:diesel/banner -->
<!-- wp:diesel/genericheading {"text":"Welcome To Diesel"} -->
<h3 class="wp-block-diesel-genericheading headline headline--large">Welcome To Diesel</h3>
<!-- /wp:diesel/genericheading -->

<!-- wp:diesel/genericheading {"text":"It's coming together.","size":"medium"} -->
<h2 class="wp-block-diesel-genericheading headline headline--medium">It's coming together.</h2>
<!-- /wp:diesel/genericheading -->

<!-- wp:diesel/genericbutton {"text":"GitHub Repo","linkObject":{"url":"https://github.com/james0r/diesel"},"colorName":"dark-orange"} -->
<a href="https://github.com/james0r/diesel" class="wp-block-diesel-genericbutton btn btn--large btn--dark-orange">GitHub Repo</a>
<!-- /wp:diesel/genericbutton -->
<!-- /wp:diesel/banner -->

<!-- wp:diesel/footer /-->