<!-- wp:dieselblocks/header /-->

<!-- wp:dieselblocks/banner -->
<!-- wp:dieselblocks/genericheading {"text":"Welcome To Diesel"} -->
<h3 class="wp-block-dieselblocks-genericheading headline headline--large">Welcome To Diesel</h3>
<!-- /wp:dieselblocks/genericheading -->

<!-- wp:dieselblocks/genericheading {"text":"It's coming together.","size":"medium"} -->
<h2 class="wp-block-dieselblocks-genericheading headline headline--medium">It's coming together.</h2>
<!-- /wp:dieselblocks/genericheading -->

<!-- wp:dieselblocks/genericbutton {"text":"GitHub Repo","linkObject":{"url":"https://github.com/james0r/diesel"},"colorName":"dark-orange"} -->
<a href="https://github.com/james0r/diesel" class="wp-block-dieselblocks-genericbutton btn btn--large btn--dark-orange">GitHub Repo</a>
<!-- /wp:dieselblocks/genericbutton -->
<!-- /wp:dieselblocks/banner -->

<!-- wp:dieselblocks/footer /-->